# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
+ Popular languages for Data Science.
+ Commonly used libraries for Data Science.
+ Commonly used Data Science tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. Julia
4. Scala
5. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Plotly

| Data Scince Tools |
| ----------------- |
| Apache Spark      |
| TensorFlow        |
| RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
convert = 200 / 60
print("200 minutes are :", convert , "Hours")

200 minutes are : 3.3333333333333335 Hours

## Author
Fares Soula